{% extends 'layout.html' %}


{% block container %}
<div class="container pt-5">
    <div class=" d-flex flex-row justify-content-center ">
        <div class="col-md-3 col-xs-12">
            <div class="mb-2 ">
                <i class="fas fa-user fa-5x"></i>
            </div>
            <div>
                <h4> <b> {{ info['nombre'].capitalize()  }} </b> <b>{{ info['apellido'].capitalize() }}</b> </h4>
                <span> <b> CC</b> {{info['CC']}} </span><br>
                <span><b>Correo</b> {{info['email']}} </span>
                <span> <b> Telefono </b> {{ info['celular'] }}</span><br>
                <span> <b> Dirección </b> {{ info['direccion'] }}</span><br>
                <a href=" {{ url_for('editar_cuenta', cc = info['CC']) }}" class="btn btn-info mb-2 mr-3 mt-2 btn-block">Editar información</a>
                <a href=" {{ url_for('eliminar_cuenta', cc = info['CC']) }}" class="btn btn-danger mb-2 mr-3 mt-2  btn-block">Eliminar cuenta</a>

            </div>
        </div>
        <div class="col-md-9 col-xs-12">

            {% if facturas %}
            <table class="table">
                <thead>
                    <tr>
                        <th>No Factura</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Acción</th>
                    </tr>
                </thead>

                <tbody>
                    {% for factura in facturas %}
                        {% if factura['CC_cliente'] == info['CC'] %}
                        <tr>
                            <td>{{ factura['numero_factura'] }}</td>
                            <td>{{ factura['nombre_producto'] }}</td>
                            <td>{{ factura['price'] }}</td>
                            <td>
                                <a href=" {{ url_for('eliminar_factura', numero = factura['numero_factura']) }}" class="btn btn-danger">Cancelar pedido</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <blockquote>
                <p><em>No se ha raelizado ningún <strong> pedido </strong></em></p>
            </blockquote>
            {% endif %}

        </div>
    </div>
</div>
{% endblock%}