{% extends 'layout.html' %}

{% block container %}
    <div class="container">
        <div class="justify-content-md-center mt-5">    
            <div class="card">
                <h3 class="text-center mt-4">Registrarse</h3>
                <div class="p-5">
                    <p>Por favor, ingrese los siguientes valores</p>
                    <form action="{{ url_for('save_client') }}" method="POST">
                        <div class="form-group">
                            <input type="text" name=nombre id=primero placeholder="Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name=apellido id=segundo placeholder="Apellido" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name=email id=tercero placeholder="Correo electronico" class="form-control">
                        </div>
                        <div class="form-group">    
                            <input type="text" name=CC id=cuarto placeholder="Cedula" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name=celular id=quinto placeholder="Número de telefono" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name=direccion id=quinto placeholder="dirección" class="form-control">
                        </div>
                        <input type="submit"  class="btn btn-success btn-block" value="Registrarse">
                        <a href="{{ url_for('inicioSesion') }}" class="btn btn-secondary btn-block" >Iniciar sesión </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}